.add-todo {
  display: flex;
  align-items: center;
  gap: 12px;
  
  padding: 12px 0px 0px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  .input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    background: #3a3b3c; 
    border-radius: 10px; 
    padding: 0 16px;
    height: 40px;
    transition: background 0.2s ease;

    &:hover {
      background: #4e4f50; 
    }

    input {
      width: 100%;
      background: transparent;
      border: none;
      outline: none;
      color: #e4e6eb; 
      font-size: 15px;
      line-height: 40px;

      &::placeholder {
        color: #b0b3b8; 
      }
    }
  }

  .add {
    background: #2374e1;
    color: white;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: filter 0.2s, transform 0.1s;

    &:hover {
      transform: scale(1.05);
      background: #0c55b5;
      color: white;
    }

    &:active {
      transform: scale(0.96); 
    }

    &:disabled {
      background: #505151;
      color: #8a8d91;
      cursor: not-allowed;
    }
  }
}


@media (max-width: 480px) {
  .add-todo {
    padding: 10px;
    .add {
        padding: 8px 12px;
    }
  }
}