
.ListToDo-container {
  background: #282c34;
  padding: 30px;
  border-radius: 15px;
  max-width: 700px;
  margin: 20px auto;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);

  
  .list-todo-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    overflow: hidden;

    .todo-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      background: rgba(255,255,255,0.02);

      &:nth-child(even) {
        background: rgba(255,255,255,0.05);
      }

      span {
        flex: 1; /* Đẩy các nút bấm về bên phải */
        text-align: left;
        font-size: 16px;
        
        input {
          padding: 5px 10px;
          border-radius: 10px;
          border: none;
          width: 80%;
        }
      }

      
      button {
        margin-left: 10px;
        padding: 8px 20px;
        border-radius: 6px;
        border: 1px solid #4e73df;
        font-weight: bold;
        cursor: pointer;
        
       
        background: #2374e1;
        color: white;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.05);
          background: #0c55b5;
          color: white;
        }

        &.delete {
          border-color: #e74a3b;
          background: #e74a3b;
          color: white;
          &:hover {
            background: #c0392b;
          }
        }
      }
    }
  }
}