.head{
    font-family: "Noto Sans", sans-serif;
    font-size: 400%;
    font-weight: bold;
    background-image: url(../../assets/images/wall.avif);
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite;

}

@keyframes animate{
    to{
        background-position-x: -1000px;
    }
}